.navbar {
  padding-left: 3px;
  padding-right: 3px;
}
.img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-item img {
  max-height: 3.85rem;
}

.user-name {
  color: black;
}

.menu-center {
  display: flex;
  align-self: center;
}

.navbar-link,
a.navbar-item {
  text-transform: uppercase;
}
