<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img
        src="../../assets/unifor-444-logo.png"
        alt="444 Logo"
        width="112"
        height=""
      />
    </a>
    <a
      class="navbar-item is-hidden-desktop"
      href="https://github.com/jgthms/bulma"
      target="_blank"
    >
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a
      class="navbar-item is-hidden-desktop"
      href="https://twitter.com/jgthms"
      target="_blank"
    >
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    <div class="navbar-burger burger" data-target="navMenuExample4">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenuExample4" class="navbar-menu is-hoverable">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>
      <a class="navbar-item" routerLink="/search">
        Search
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link " href="#blog/">
          Blog
        </a>
        <div
          id="blogDropdown"
          class="navbar-dropdown "
          data-style="width: 18rem;"
        >
          <a class="navbar-item" href="/2017/03/10/new-field-element/">
            <div class="navbar-content">
              <p>
                <small class="has-text-info">10 Mar 2017</small>
              </p>
              <p>New field element (for better controls)</p>
            </div>
          </a>
          <a
            class="navbar-item"
            href="/2016/04/11/metro-ui-css-grid-with-bulma-tiles/"
          >
            <div class="navbar-content">
              <p>
                <small class="has-text-info">11 Apr 2016</small>
              </p>
              <p>Metro UI CSS grid with Bulma tiles</p>
            </div>
          </a>
          <a
            class="navbar-item"
            href="/2016/02/09/blog-launched-new-responsive-columns-new-helpers/"
          >
            <div class="navbar-content">
              <p>
                <small class="has-text-info">09 Feb 2016</small>
              </p>
              <p>Blog launched, new responsive columns, new helpers</p>
            </div>
          </a>
          <a class="navbar-item" href="#blog/">
            More posts
          </a>
          <hr class="navbar-divider" />
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <strong>Stay up to date!</strong>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a class="button is-rss is-small" href="#atom.xml">
                      <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                      </span>
                      <span>Subscribe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          More
        </div>
        <div id="moreDropdown" class="navbar-dropdown ">
          <a class="navbar-item " href="#extensions/">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Extensions</strong>
                    <br />
                    <small>Side projects to enhance Bulma</small>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <span class="user-name">Hi {{ name }} - {{ slevel }}</span>
      </div>
      <a
        class="button is-success menu-center"
        *ngIf="!isAuthenticated"
        (click)="login()"
      >
        Login
      </a>
      <a
        class="button is-danger menu-center"
        *ngIf="isAuthenticated"
        (click)="logout()"
      >
        Logout
      </a>
    </div>
  </div>
</nav>
