<div class="container is-fluid" style="margin-top: 40px;">
  <div class="has-text-centered title is-2 box" style="background-color:darkorange;">
    {{member.first}} {{member.last}} - <span style="color:crimson;">{{member.master}}</span><br>
    <span style="color:indigo;">{{member.company}}  - {{member.union_status}}<br> <a class="button is-primary" [routerLink]="['/member-edit/', member.master]">Edit Member Information</a></span> 
  </div>
  <div class="tile is-ancestor">
      <div class="tile is-8 is-vertical">
       
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child blue post notification is-primary">
              <div class="title is-3 has-text-centered">Personal Information</div>
                <b>Master: </b>{{member.master}}
      <br>
      <b>Name:</b> {{member.first}} {{member.last}}
      <br>
      <br>
      <b>Address:</b> {{member.address}}
      <br>
      <p style="margin-left: 75px;">{{member.city}}, {{member.prov}}</p>
      <p style="margin-left: 75px;">{{member.postal}}</p>
      <br>
      <b>Email:</b> <a href="mailto:{{member.email}}">{{member.email}}</a><br><br>
      <b>Phone:</b> {{member.phone}}
      <br>
      <b style="margin-left: 20px;">Cell:</b> {{member.cell}}
      <br>
      <br>
      <mat-checkbox ngModel="{{member.mail}}" name="mail" labelPosition="before" disabled>
        <b>Mail: </b>
      </mat-checkbox>
      <mat-checkbox style="margin-left: 10px;" ngModel="{{member.call_drop}}" name="calldrop" labelPosition="before" disabled>
        <b>Call Drop: </b>
      </mat-checkbox>
    
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <div class="title is-3 has-text-centered">Work Information</div>
                <b>Company: </b>{{member.company}}
                <br>
                <b>Hire Date:</b> {{member.hire_date | date}}
                <br>
                <b>Company Status:</b> {{member.company_status}}
                <br>
                <b>Rate:</b> {{member.hrly | currency}}
                <br>
                <br>
                <b>Union Status:</b> {{member.union_status}}
                <br>
                <b>Status Date:</b> {{member.status_date | date}}
            </article>
          </div>
          
        </div>
         
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child pink post notification is-warning">
              <div class="title is-3 has-text-centered">Death Information</div>
              <b>Member Death Date:</b> {{member.member_death_date | date}}<br>
              <b>Member Funeral Date:</b> {{member.member_funeral_date | date}}<br>
              <b>Member Funeral Home:</b> {{member.member_funeral_home}}<br>
              <b>Member Sent:</b> {{member.member_sent}}

            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <div class="title is-3 has-text-centered">Spouse Information</div>
                <b>Spouse Name:</b> {{member.spouse_name}}<br>
                <b>Spouse Death Date:</b> {{member.spouse_death_date | date}}<br>
                <b>Spouse Funeral Home:</b> {{member.spouse_death_date | date}}<br>
                <b>Spouse Sent:</b> {{member.spouse_sent}}<br>
            </article>
          </div>
        </div>
         
      </div><!-- /is-8 -->
       
      <div class="tile is-parent ">
        <article class="tile is-child green post">
            <mat-tab-group>
                <mat-tab label="Notes">
                  <h1></h1>
                 <!-- <app-notes></app-notes> -->
                </mat-tab>
                <mat-tab label="Files">
                  <!-- <app-member-files></app-member-files> -->
                </mat-tab>
              </mat-tab-group>
        </article>
      </div>
         
    </div>
</div>
