<div class="container is-fluid" style="margin-top: 40px;">
  <div class="has-text-centered title is-2 box" style="background-color:darkorange;">
  
    {{member.first}} {{member.last}} -
    <span style="color:crimson;">{{member.master}}</span>
    <br>
    <span style="color:indigo;">{{member.company}} - {{member.union_status}}</span>
    <br>
    <div class="box" style="color:steelblue">Edit Member Information</div>
  </div>
  <form #memberEdit="ngForm" (ngSubmit)="updateMember()">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child blue post notification is-primary">
          <div class="title is-3 has-text-centered">Personal Information
              <a (click)="updateMember()" class="button is-pulled-right is-success is-outlined">SAVE</a>
          </div>
          <b>Master: </b>{{member.master}}
          <br>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="">Name:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="first" [(ngModel)]="member.first">
              </div>
              <div class="field">
                <input class="input" type="text" name="last" [(ngModel)]="member.last">
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="">Address:</label>
            </div>
            <div class="control" style="width: 79%;">
              <input class="input" type="text" name="address" [(ngModel)]="member.address">
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="">City:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="city" [(ngModel)]="member.city">
              </div>
              <div class="field">
                <input class="input" type="text" name="prov" [(ngModel)]="member.prov">
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-pulled-right">
            <div class="field-label is-normal">
              <label class="">Email:</label>
            </div>
            <div class="field">
              <input style="width:360px;"class="input" email [(ngModel)]="member.email" name="offemail" [pattern]="emailPattern" #offemail="ngModel">
              <div *ngIf="offemail.errors"> 			   
                <div *ngIf="offemail.errors.pattern" style="background-color:azure; padding: 5px;">
                  <p class="help is-danger">This email is invalid.</p>
                </div>	
             </div> 
             
            </div>
          </div>
          <div class="field is-horizontal is-pulled-right">
            <div class="field-label is-normal">
              <label class="">Phone:</label>
            </div>
            <div class="field">
              <input class="input" type="text" [(ngModel)]="member.phone" [textMask]="{mask: mask}" name="phone">
            </div>
          </div>
          <br>
          <div class="field is-horizontal is-pulled-right">
            <div class="field-label is-normal">
              <label class="">Cell:</label>
            </div>
            <div class="field">
              <input class="input" type="text" [(ngModel)]="member.cell" [textMask]="{mask: mask}" name="cell">
            </div>
          </div>
          <br>
          <br>
          <mat-checkbox ngModel="{{member.mail}}" name="mail" labelPosition="before">
            <b>Mail: </b>
          </mat-checkbox>
          <mat-checkbox style="margin-left: 10px;" ngModel="{{member.call_drop}}" name="call_drop" labelPosition="before">
            <b>Call Drop: </b>
          </mat-checkbox>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div class="title is-3 has-text-centered">Work Information
           <a (click)="updateMember()" class="button is-pulled-right is-success is-outlined">SAVE</a>
          </div>
          <div class="field is-horizontal">
            <label style="padding-right: 10px;">Company:</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="member.company" name="company">
                  <option *ngFor="let workplace of workplaces" value="{{workplace.companyName}}">{{workplace.companyName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class="">Hire Date:</label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="myDatepicker" [(ngModel)]="member.hire_date"
              name="hireDate">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </div>
          <b>Rate:</b> {{member.hrly | currency}} <br>
          <b>Company Status:</b> {{member.company_status}} <br>
            <div class="field is-horizontal">
            <label style="padding-right: 10px;">Union Status:</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="member.union_status" name="ustatus">
                  <option *ngFor="let ustatus of ustatus" value="{{ustatus.uStatus}}">{{ustatus.uStatus}}</option>
                </select>
              </div>
              </div>
              </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Union Status Date:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="statusDatepicker" [(ngModel)]="member.statusDate"
              name="statusdate">
            <mat-datepicker-toggle [for]="statusDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #statusDatepicker></mat-datepicker>
          </div>
          <div class="field">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Watch:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="watchDatePicker" [(ngModel)]="member.watch"
              name="spousefuneraldate">
            <mat-datepicker-toggle [for]="watchDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #watchDatePicker></mat-datepicker>
          </div>
          
        </article>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child pink post notification is-warning">
          <div class="title is-3 has-text-centered">Death Information
           <a (click)="updateMember()" class="button is-pulled-right is-success is-outlined">SAVE</a>
          </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Member Death Date:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="memberDeathDatepicker" [(ngModel)]="member.memberDeathDate"
              name="memberdeathdate">
            <mat-datepicker-toggle [for]="memberDeathDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #memberDeathDatepicker></mat-datepicker>
          </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Member Funeral Date:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="funeralDatepicker" [(ngModel)]="member.memberFuneralDate"
              name="funeraldate">
            <mat-datepicker-toggle [for]="funeralDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #funeralDatepicker></mat-datepicker>
          </div>
          <div class="field is-horizontal">
            <label style="padding-right: 10px;"><b>Member Funeral Home:</b></label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="member.memberFuneralHome" name="memberFuneralHome">
                  <option *ngFor="let funeralhome of funeralhomes" value="{{funeralhome.name}}">{{funeralhome.name}}</option>
                </select>
              </div>
              </div>
            </div>
            <div class="field is-horizontal">
            <label style="padding-right: 10px;"><b>Member Sent:</b></label>
            <div class="control">
              <div class="select" style="padding: 5px;">
                <select [(ngModel)]="member.memberSent" value="{{member.memberSent}}" name="membersent">
                  <option>Catholic Bible</option>
                  <option>Flowers</option>
                  <option>Nothing Sent</option>
                  <option>Protestant Bible</option>
                </select>
              </div>
              </div>
              <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="membersentDatepicker" [(ngModel)]="member.memberSentDate"
              name="membersentdate">
            <mat-datepicker-toggle [for]="membersentDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #membersentDatepicker></mat-datepicker>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="title is-3 has-text-centered">Spouse Information
           <a (click)="updateMember()" class="button is-pulled-right is-success is-outlined">SAVE</a>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class=""><b>Spouse:</b></label>
            </div>
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="spouse" [(ngModel)]="member.spouseName">
              </div>
            </div>
          </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Spouse Death Date:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="spousedeathDatepicker" [(ngModel)]="member.spouseDeathDate"
              name="spousedeathdate">
            <mat-datepicker-toggle [for]="spousedeathDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #spousedeathDatepicker></mat-datepicker>
          </div>
          <div class="field is-horziontal">
            <div class="field-label is-normal is-pulled-left">
              <label class=""><b>Spouse Funeral Date:</b></label>
            </div>
            <input class="input is-small" style="width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="spousefuneralDatePicker" [(ngModel)]="member.spouseFuneralDate"
              name="spousefuneraldate">
            <mat-datepicker-toggle [for]="spousefuneralDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #spousefuneralDatePicker></mat-datepicker>
          </div>
          <div class="field is-horizontal">
            <label style="padding-right: 5px;"><b>Spouse Sent:</b></label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="member.spouseSent" name="spousesent" value="{{member.spousesent}}">
                  <option>Catholic Bible</option>
                  <option>Flowers</option>
                  <option>Nothing Sent</option>
                  <option>Protestant Bible</option>
                </select>
              </div>
              </div>
              <input class="input is-small" style=" margin-left: 10px; width: 110px; margin-top: 7px; margin-right: -8px;" [matDatepicker]="spousesentDatepicker" [(ngModel)]="member.spouseSentDate"
              name="spousesentdate">
            <mat-datepicker-toggle [for]="spousesentDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #spousesentDatepicker></mat-datepicker>
          </div>
        </article>
      </div>
    </div>
  </form>
</div>